object {
  key: value;
  key: value;
}

body {
  background-color: #faebd7;
}

body {
  background-image: url(https://cdn.pixabay.com/photo/2019/01/30/17/20/treasure-map-3964944_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
  image-rendering: -webkit-optimize;
}

.center {
  display: flex;
  justify-content: center;
}

#denise {
  border: 2px solid #9353a3;
  border-radius: 4px;
  background-color: antiquewhite;
  background: rgb(250, 235, 215, .6)
}
/*
.easter {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0%   { transform: scale(1,1)    translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1) translateY(-100px); }
  50%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1)    translateY(0); }
}
*/
